<form action="/" method="POST">
<div class="container">
  <div class="input-group mb-3">
    <input type="url" class="form-control" 
    name="originURL" placeholder="type Your URL here.." aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-default" style="background-color:rgb(248, 246, 246);" required>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-outline-success" type="submit">submit</button>
  </div>
</div>
</form>