<div class="container">
  <h2>Success! Please use this link:</h2>
  <a id="URL" href="{{ origin }}/{{ url }}" target="_blank"> {{ origin }}/{{ url }}</a>
  <a class="btn btn-primary"href="/">Back</a>
</div>  